Gift Card Store/xhtml5.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:html="http://www.w3.org/1999/xhtml" targetNamespace="http://www.w3.org/1999/xhtml" elementFormDefault="qualified">

    <xs:element name="script">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" fixed="text/javascript"/>
            <xs:attribute name="src" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="canvas">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
